# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# PyCharm
.idea/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# this is my cridentials, and I do not want this to be pushed to github!
service_account.json
